/* line 1, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 1, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
ul {
  margin-bottom: 0;
}

/* line 3, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
header {
  position: relative;
  min-height: 50px;
  background-color: #212121;
}

/* line 7, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.first-section__header {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

/* line 12, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.nav-menu__list {
  padding: 10px 70px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

/* line 18, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.nav-menu__list-item {
  border-right: 2px dotted #000;
  padding-right: 40px;
}

/* line 21, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.nav-menu__list-item:last-child {
  border: none;
}

/* line 23, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.nav-menu__link {
  text-decoration: none;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

/* line 30, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.hamburger {
  display: none;
}

/* line 32, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.first-section__subheader {
  min-height: 800px;
  padding-top: 50px;
  padding-bottom: 187px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
}

/* line 37, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.first-section__subheader-container {
  min-height: 87px;
  background: rgba(0, 0, 0, 0.6);
}

/* line 40, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subheader-contant__logo-link {
  max-width: 100%;
  display: block;
  margin-top: 16px;
}

/* line 44, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subheader-contant__official {
  margin-top: 6px;
  color: #FFF;
  font-size: 13px;
  font-weight: 100;
  opacity: 0.5;
}

/* line 50, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subheader-contant__call {
  margin-top: 16px;
  color: #FFF;
  text-align: right;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.5;
}

/* line 57, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subheader-contant__call-link {
  color: #FFF;
  display: block;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: right;
}

/* line 65, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subheader-contant__button {
  margin-top: 17px;
}

/* line 70, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__second {
  width: 113px;
  height: 24px;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFF;
  border: none;
}

/* line 79, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__second_black {
  background: #000;
}

/* line 81, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__second_white {
  background: #FFF;
  color: #000;
}

/* line 84, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__blue {
  border: none;
  border-radius: 4px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #FFF;
}

/* line 94, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__blue:hover {
  background: #FF5656;
}

/* line 96, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__blue_small {
  width: 162px;
  height: 46px;
  font-size: 13px;
}

/* line 100, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.button__blue_big {
  width: 259px;
  height: 63px;
}

/* line 105, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.promo-container__header {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  margin-top: 67px;
}

/* line 113, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.promo-container__subheader {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 16px;
}

/* line 121, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.promo-container__header-text {
  color: #FFF;
  max-width: 985px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 115px;
}

/* line 129, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.promo-container__button {
  text-align: center;
}

/* line 131, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.second-section {
  min-height: 849px;
  padding: 20px 0 67px 0;
}

/* line 135, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.second-section__button {
  text-align: center;
  margin-bottom: 33px;
}

/* line 140, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.second-section__title {
  margin-bottom: 16px;
}

/* line 142, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.title {
  text-align: center;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 148, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.title_black {
  color: #222;
}

/* line 150, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.title_white {
  color: #fff;
}

/* line 153, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icon-box {
  display: flex;
  margin-bottom: 28px;
  min-height: 150px;
}

/* line 157, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icon-box__icon-elipse {
  margin-right: 25px;
}

/* line 159, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.elipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background: #1EACC7;
}

/* line 167, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icon-box__img {
  width: 80px;
  height: 70px;
}

/* line 170, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icon-box__text-blue {
  font-size: 17px;
  line-height: 21px;
}

/* line 173, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.texts-red {
  color: #FF5656;
  font-style: normal;
  font-weight: 400;
}

/* line 177, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.texts-blue {
  color: #1EACC7;
  font-style: normal;
  font-weight: 400;
}

/* line 181, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icon-text {
  color: #202020;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: 150px;
  line-height: 21px;
  margin: 0;
}

/* line 189, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icon-box__text {
  width: 372px;
}

/* line 192, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.third-section {
  min-height: 860px;
  background: url(../img/mobile_bg.png) center center/cover no-repeat;
  padding: 48px 0 79px 0;
}

/* line 196, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.third-section__button {
  text-align: center;
  margin-bottom: 33px;
}

/* line 199, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.third-section__subtitle {
  margin-bottom: 30px;
}

/* line 202, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subtitle {
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 33px;
}

/* line 208, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subtitle_black {
  color: #222;
}

/* line 210, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.subtitle_white {
  color: #fff;
}

/* line 214, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item {
  margin-bottom: 19px;
}

/* line 216, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  position: relative;
}

/* line 221, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box_bg1 {
  background: url(../img/cards/Card-1.jpg) center center/cover no-repeat;
}

/* line 223, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box_bg2 {
  background: url(../img/cards/Card-2.jpg) center center/cover no-repeat;
}

/* line 225, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box_bg3 {
  background: url(../img/cards/Card-3.jpg) center center/cover no-repeat;
}

/* line 227, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box_bg4 {
  background: url(../img/cards/Card-4.jpg) center center/cover no-repeat;
}

/* line 229, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box_bg5 {
  background: url(../img/cards/Card-5.jpg) center center/cover no-repeat;
}

/* line 231, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__box_bg6 {
  background: url(../img/cards/Card-6.jpg) center center/cover no-repeat;
}

/* line 233, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__subtitle {
  padding-top: 92px;
  color: #FFF;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 240, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 210px;
  right: 135px;
  width: 29px;
  height: 29px;
  border-radius: 100%;
  background: #000;
  margin: 0 auto;
  cursor: pointer;
}

/* line 253, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__plus:before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background: #1EACC7;
  transition: 0.3s all;
}

/* line 260, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__plus:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 2px;
  height: 14px;
  background: #1EACC7;
  transition: 0.3s all;
}

/* line 271, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.cards-item__plus:hover:before, .cards-item__plus:hover:after {
  background: #FF5656;
}

/* line 274, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fouth-section {
  min-height: 900px;
  padding-top: 60px;
  padding-bottom: 140px;
  background: url(../img/Group-1.jpg) center center/cover no-repeat;
}

/* line 279, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fouth-section__button {
  text-align: center;
  margin-bottom: 27px;
}

/* line 282, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fouth-section__subtitle {
  margin-bottom: 54px;
}

/* line 284, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fouth-section__img-box {
  text-align: center;
  color: #222;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
}

/* line 291, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fouth-section__img {
  display: block;
  margin: 0 auto;
}

/* line 296, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fifth-section {
  padding-top: 68px;
  padding-bottom: 85px;
}

/* line 299, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fifth-section__button {
  text-align: center;
  margin-bottom: 28px;
}

/* line 302, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.fifth-section__title {
  margin-bottom: 33px;
}

/* line 306, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.list__box-blue {
  margin-bottom: 61px;
}

/* line 308, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.list__items-box {
  list-style-type: none;
  padding-left: 50px;
}

/* line 311, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.list__title {
  margin-bottom: 22px;
}

/* line 313, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.list__item {
  color: #222;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
  position: relative;
}

/* line 320, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.list__item_blue:before {
  content: '';
  display: block;
  position: absolute;
  left: -29px;
  top: 2px;
  width: 21px;
  height: 20px;
  background: url(../icons/Rectangle-blue.svg) center center/cover no-repeat;
}

/* line 330, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.list__item_red:before {
  content: '';
  display: block;
  position: absolute;
  left: -29px;
  top: 2px;
  width: 21px;
  height: 20px;
  background: url(../icons/Rectangle-red.svg) center center/cover no-repeat;
}

/* line 340, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.sixth-section {
  background: #080816;
  min-height: 720px;
}

/* line 343, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.sixth-section__container {
  background: url(../img/world_bg.jpg) center center/cover no-repeat;
  padding: 48px 0 22px 0;
}

/* line 347, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.sixth-section__button {
  text-align: center;
  margin-bottom: 26px;
}

/* line 350, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.sixth-section__subtitle {
  margin-bottom: 456px;
}

/* line 352, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.sixth-section__link-box {
  margin: 0 auto;
  max-width: 223px;
  border: 2px solid #1FBAD6;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 68px;
}

/* line 361, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.sixth-section__link {
  text-decoration: none;
  color: #1FBAD6;
}

/* line 364, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.footer {
  min-height: 156px;
  padding: 12px 0 11px 0;
  position: relative;
}

/* line 369, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.footer__border {
  margin: 0 auto;
  max-width: 301px;
  border: 2px solid #1FBAD6;
  margin-bottom: 25px;
}

/* line 374, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.footer__icons-box {
  display: inline-flex;
  gap: 4px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/* line 381, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.footer__mobile {
  display: inline-flex;
  gap: 4px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

/* line 388, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 395, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.footer-menu__nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

/* line 402, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.footer-menu__link {
  text-decoration: none;
  color: #070716;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 409, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.information-menu {
  text-align: center;
}

/* line 411, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.information-menu__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

/* line 417, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.information-menu__link {
  text-decoration: none;
  color: #999;
  font-size: 11px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
}

/* line 424, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.information-menu__lang {
  text-decoration: none;
  color: #1FBAD6;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 430, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icons-item {
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 100%;
}

/* line 435, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.icons-item__link {
  text-decoration: none;
  color: white;
}

/* line 438, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_general.sass */
.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 3, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list-item {
    padding-right: 25px;
  }
  /* line 5, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__link {
    font-size: 13px;
  }
  /* line 8, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header {
    font-size: 50px;
  }
  /* line 10, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__subheader {
    font-size: 30px;
  }
  /* line 13, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .icon-box__text {
    width: 320px;
  }
  /* line 15, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .icon-text {
    line-height: 18px;
  }
  /* line 18, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__box {
    width: 300px;
  }
  /* line 20, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer {
    min-height: 256px;
  }
  /* line 22, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 50%;
    left: 85%;
  }
  /* line 28, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__icons-box {
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 15%;
  }
}

@media (max-width: 991px) {
  /* line 38, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list-item {
    padding-right: 11px;
  }
  /* line 40, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__link {
    font-size: 10px;
  }
  /* line 43, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__official {
    font-size: 12px;
  }
  /* line 45, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__img {
    width: 100%;
  }
  /* line 47, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__call-link {
    font-size: 18px;
  }
  /* line 49, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__button {
    margin-top: 20px;
  }
  /* line 52, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header {
    font-size: 40px;
  }
  /* line 54, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__subheader {
    font-size: 25px;
  }
  /* line 56, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  /* line 62, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button__blue_small {
    width: 100%;
    height: 40px;
    font-size: 13px;
  }
  /* line 66, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .title {
    font-size: 35px;
  }
  /* line 68, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .icon-box {
    flex-direction: column;
    align-items: center;
  }
  /* line 71, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .icon-box__icon-elipse {
    margin-right: 0;
  }
  /* line 73, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .elipse {
    margin-bottom: 20px;
  }
  /* line 76, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__box {
    width: 220px;
  }
  /* line 78, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__subtitle {
    font-size: 20px;
  }
  /* line 80, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__plus {
    right: 95px;
    top: 220px;
  }
  /* line 83, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer {
    min-height: 240px;
  }
  /* line 85, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__mobile {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
    top: 84%;
    left: 50%;
  }
  /* line 91, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__icons-box {
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
    top: 64%;
    left: 50%;
  }
}

@media (max-width: 767px) {
  /* line 102, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
  }
  /* line 114, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list_active {
    left: 0;
  }
  /* line 116, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list-item {
    padding-right: 0;
    margin-bottom: 20px;
    border: none;
  }
  /* line 120, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__link {
    font-size: 20px;
  }
  /* line 122, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 12px;
    z-index: 3;
  }
  /* line 131, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 139, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .hamburger_active span {
    margin-bottom: -2px;
  }
  /* line 141, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 143, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 145, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 147, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .xs-hidden {
    display: none;
  }
  /* line 149, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .xs-visible {
    display: block;
  }
  /* line 152, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__call-link {
    text-align: center;
    font-size: 18px;
  }
  /* line 155, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__button {
    margin-top: 10px;
  }
  /* line 157, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button {
    text-align: center;
  }
  /* line 159, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button:hover {
    pointer-events: none;
  }
  /* line 162, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button__blue_small {
    width: 165px;
    height: 30px;
    font-size: 14px;
    margin-top: 5px;
  }
  /* line 168, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header {
    font-size: 30px;
  }
  /* line 170, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__subheader {
    font-size: 20px;
  }
  /* line 172, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header-text {
    font-size: 15px;
    line-height: 20px;
  }
  /* line 175, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .title {
    font-size: 28px;
  }
  /* line 177, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .third-section {
    padding: 48px 0 55px 0;
  }
  /* line 180, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__box {
    width: 300px;
  }
  /* line 182, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__plus {
    right: 135px;
    pointer-events: none;
  }
  /* line 186, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__subtitle {
    font-size: 22px;
  }
  /* line 188, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fouth-section {
    background: #070716;
    min-height: 600px;
    padding: 50px 0 100px;
  }
  /* line 192, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fouth-section__img {
    max-width: 450px;
  }
  /* line 194, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fouth-section__img-box {
    color: #FFF;
    text-align: center;
    font-size: 25px;
    line-height: 24px;
  }
  /* line 199, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fifth-section {
    padding: 50px 0 60px 0;
  }
  /* line 202, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box-blue {
    margin-bottom: 40px;
  }
  /* line 205, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box {
    margin-bottom: 30px;
  }
  /* line 207, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box:last-child {
    margin-bottom: 0;
  }
  /* line 209, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box-blue {
    margin-bottom: 30px;
  }
  /* line 211, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section {
    min-height: 575px;
  }
  /* line 213, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__container {
    min-height: 575px;
  }
  /* line 215, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__subtitle {
    margin-bottom: 280px;
  }
  /* line 218, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__icons-box {
    display: inline-flex;
    flex-direction: row;
    top: 64%;
    left: 50%;
  }
  /* line 223, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__mobile {
    display: inline-flex;
    flex-direction: row;
    top: 84%;
    left: 50%;
  }
}

@media (max-width: 575px) {
  /* line 232, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .first-section__subheader-container {
    min-height: 62px;
  }
  /* line 234, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .first-section__header {
    min-height: 32px;
  }
  /* line 236, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .first-section__subheader {
    padding-top: 32px;
  }
  /* line 239, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__official {
    display: none;
  }
  /* line 241, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button {
    text-align: center;
  }
  /* line 243, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button:hover {
    pointer-events: none;
  }
  /* line 246, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .button__blue_small {
    width: 110px;
    height: 22px;
    font-size: 10px;
    margin: 0;
  }
  /* line 252, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .first-section__subheader {
    min-height: 340px;
    padding-bottom: 34px;
  }
  /* line 256, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subheader-contant__call-link {
    text-align: center;
    font-size: 12px;
  }
  /* line 260, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list {
    width: 85%;
  }
  /* line 262, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__list-item {
    width: 100%;
    text-align: center;
    padding: 4px 0 4px;
  }
  /* line 266, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .nav-menu__link {
    display: block;
  }
  /* line 271, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header {
    font-size: 30px;
    margin: 41px 0 20px 0;
  }
  /* line 274, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__subheader {
    font-size: 20px;
    margin-bottom: 73px;
  }
  /* line 277, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .promo-container__header-text {
    display: none;
  }
  /* line 279, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .second-section {
    min-height: 2462px;
    padding: 20px 0 0 0;
  }
  /* line 282, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .second-section__title {
    margin-bottom: 30px;
  }
  /* line 284, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .title {
    font-size: 16px;
  }
  /* line 287, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .icon-text {
    line-height: 21px;
  }
  /* line 290, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .icon-box__text {
    width: 288px;
    line-height: 21px;
    font-size: 16px;
    height: inherit;
  }
  /* line 295, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .third-section {
    padding: 28px 0 43px 0;
  }
  /* line 297, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .third-section__button {
    margin-bottom: 16px;
  }
  /* line 299, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .third-section__title {
    margin-bottom: 9px;
  }
  /* line 301, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item {
    margin-bottom: 30px;
  }
  /* line 303, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item:last-child {
    margin-bottom: 0;
  }
  /* line 305, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .cards-item__box {
    width: 290px;
  }
  /* line 307, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .subtitle {
    margin-bottom: 27px;
    font-size: 14px;
    line-height: 21px;
  }
  /* line 311, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fouth-section {
    min-height: 393px;
    padding: 27px 0 31px 0;
    background: #070716;
  }
  /* line 315, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fouth-section__img {
    width: 300px;
    height: 190px;
  }
  /* line 318, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fouth-section__img-box {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
  }
  /* line 323, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fifth-section {
    padding: 24px 0 30px 0;
  }
  /* line 325, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fifth-section__button {
    margin-bottom: 16px;
  }
  /* line 327, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .fifth-section__title {
    margin-bottom: 30px;
  }
  /* line 329, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  /* line 333, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__item {
    font-size: 14px;
    margin-bottom: 5px;
  }
  /* line 336, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__desrc {
    font-size: 14px;
  }
  /* line 338, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__desrc br {
    display: none;
  }
  /* line 340, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box {
    margin-bottom: 30px;
  }
  /* line 342, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box:last-child {
    margin-bottom: 0;
  }
  /* line 344, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__box-blue {
    margin-bottom: 30px;
  }
  /* line 347, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__items-box {
    padding-left: 28px;
  }
  /* line 350, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__item br {
    display: none;
  }
  /* line 352, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .list__item span {
    display: none;
  }
  /* line 354, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section {
    min-height: 321px;
  }
  /* line 356, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__container {
    padding: 26px 0 30px 0;
    min-height: 321px;
  }
  /* line 359, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__subtitle {
    margin-bottom: 212px;
  }
  /* line 361, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__button {
    margin-bottom: 16px;
  }
  /* line 363, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__link-box {
    border: none;
  }
  /* line 365, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .sixth-section__title {
    margin-bottom: 11px;
  }
  /* line 367, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer {
    min-height: 265px;
    padding: 24px 0 25px 0;
  }
  /* line 370, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__border {
    max-width: 355px;
    margin-bottom: 21px;
  }
  /* line 373, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__icons-box {
    display: inline-flex;
    flex-direction: row;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* line 379, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer__mobile {
    display: inline-flex;
    flex-direction: row;
    width: 290px;
    top: 84%;
    left: 50%;
  }
  /* line 386, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer-menu__nav-list {
    margin-bottom: 2px;
  }
  /* line 388, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .footer-menu__link {
    font-size: 14px;
  }
  /* line 390, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .information-menu {
    width: 255px;
    margin: 0 auto;
  }
  /* line 393, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .information-menu__list {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* line 396, ../Frontend/2023-autumn/Udemy-2/Project-Uber/src/sass/_media.sass */
  .information-menu__link {
    line-height: 11px;
  }
}

/*# sourceMappingURL=style.css.map */